@font-face {
    font-family: mordredRegular;
    src: url('../fonts/mordred.regular.ttf');
  }
  
  @font-face {
    font-family: mordredBold;
    src: url('../fonts/mordred.bold.ttf');
  }
  

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenidoIntroIntranet{
    background-image: url(../img/medievalTavernDesenfocado.png);
    background-position: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .contenidoIntroIntranet h1 {
    font-size: 30px;
    font-family: 'mordredBold';
    color: rgb(255, 255, 255);
    line-height: 1;
    width: 30%;
  }
  
  .contenidoIntroIntranet h3{
    font-weight: 800;
    color: #f9b000;
    line-height: 1.7;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'mordredBold';
    font-size: 30px;
  }

  .logo {
    float: left; /* Alinear a la izquierda */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    z-index: 999; /* Asegura que el encabezado esté en la parte superior */
    position: fixed;
  }

.menu-container-intranet {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu {
    text-align: center; /* Alinear al centro */
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espaciado entre enlaces */
}

.menu-intranet{
    margin-left: 10px;      
    text-decoration: none;
    color: #fff;
    align-items: center;
  }

  .menu-intranet:hover {
    text-decoration: underline;
}

.loginBtn {
    background-color: #bf6428;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }

  .loginBtn:hover {
    background-color: #e87000;
  }


.slider {
    width: 80%;
    margin: 0 auto;
  }
  
  .slide {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }

  /*NOTICIAS*/
  #noticias{
    display: grid;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }

  .noticias img{
    height: 50px;
    width: 50px;
  }

  .news-slider-container {
    position: relative;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .news-slider {
    display: flex;
    transition: transform 0.5s ease;
    text-align: center;
  }
  
  .news-slide {
    flex: 0 0 100%;
    padding-top: 20px;
  }
  
  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    left: 0px;
  }
  
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    right: 0px;
  }

#comite{
    display: flex;
    flex-direction: column;
    display: none;
}

.introComite{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'mordredBold';
}

  .funcionesComite{
    color: #000000;
    font-family: 'mordredBold';
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
  }

  .textoFunciones{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 80%;
    margin: auto;
    font-family: 'mordredBold';
  }

  .funcion{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .textoFuncionesInfoExtra{
    text-align: center;
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .link:hover {
    color: red;
  }

  #prev{
    /*display: flex;*/
    display: none;
    text-align: center;
}

.introPrevencion{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'mordredBold';
    padding-bottom: 20px;
}

  .prevencion{
    color: #000000;
    font-family: 'mordredBold';
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .prevencionEnlace{
    float: left;
    width: 45%;
    margin: 5px;
    border: 1px solid #000; /* Borde opcional para visualizar mejor */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Sombra */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .enlaceTabla{
    background-image: url(../img/tablaRiesgos.png);
    background-color: transparent;
    height: 200px;
    width: 80%;
    background-size: cover;
    margin-top: 10px;
  }

  .enlaceTabla:hover{
    cursor: pointer;
  }


footer {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interior (arriba y abajo) */
    text-align: center; /* Alinear contenido al centro */
}

footer p {
    margin: 0; /* Eliminar margen interno */
}

footer img {
    width: 67PX; /* Ancho del logo */
    margin-bottom: 10px; /* Espaciado inferior */
}



/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 25vw;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.header{
background-color: #333;
color: #fff;
text-align: center;
position: relative;
}

.containerCalendario{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#calendario-entero{
display: block;
flex-direction: row;
align-items: center;
justify-content:space-evenly ;
margin: auto;
width: 70%;
}


.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}